* {
  background-color: black;
  text-align: center;
}


a {
  color: aquamarine;
}

h1 {
  text-align: center;
  font-family: Verdana;
  font-weight: normal;
  font-size: 50px;
  color: white;
}


.link {
  text-align: center;
  font-family: Verdana;
  font-weight: bold;
  font-size: 16px;
  color: aquamarine;
}


p {
  font-family: Verdana;
  font-size: 21px;
  color: gray;
}


#middle {
  font-family: Verdana;
  font-weight: 300;
  font-size: 42px;
  color: white;
}


.copyright {
  text-align: right;
}
